<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main.html}">
<div layout:fragment="mainFragment">
    <div class="ms-2">
        <h2>
            <span th:text="${food.name}"></span>
        </h2>
        <p>

        </p>
        <p class="text-muted">
            Costs <span th:text="${food.price}"></span> Tenge
        </p>
        <p>
            Calories in this food <span th:text="${food.calories}"></span> Cal.
        </p>
        <p>
            Amount <span th:text="${food.amounts}"></span>
        </p>

        <div class="d-flex">
            <!-- Кнопка для редактирования данных машин. Нажав на нее, мы перейдем на страницу редактирования данных машины -->
            <a class="btn btn-primary me-3" th:href="@{'/updatefood?id=' + ${food.id}}">EDIT</a>

            <!-- Кнопка для удаления машины (о ней поговорим чуть позже) -->
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteFoodModal">
                DELETE
            </button>
        </div>

        <div class="modal fade" id="confirmDeleteFoodModal" tabindex="-1" aria-labelledby="confirmDeleteFoodModal" aria-hidden="true">
            <div class="modal-dialog">
                <form method="post" th:action="@{'/deletefood?id=' + ${food.id}}">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="confirmDeleteFoodModalLabel">Confirm food deletion</h1>

                            <!-- Эта кнопка закрывает всплывающее (модальное) окно, а также отменяет запрос на удаление -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure to delete food <span th:text="${food.name}"></span> ?
                        </div>
                        <div class="modal-footer">
                            <!-- Эта кнопка отменяет запрос на удаление -->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                            <!-- Эта кнопка подтверждает запрос на удаление -->
                            <button type="submit" class="btn btn-danger">YES</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Пользователь будет перенаправлен на данную страницу детального просмотра данных машины после успешного обновления ее данных -->
        <!-- Это сообщение появится в случае успешного обновления данных машины -->
        <div class="alert alert-success mb-4 mt-3" th:if="${param.success != null}">
            Information about this car has successfully been updated!
        </div>
    </div>
</div>
</html>